@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    scroll-behavior: smooth;
    transition: all 0.4ms ease-in-out;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Mulish', sans-serif; */
    
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p{
    font-family: 'Mulish', sans-serif;
}



/* ---------- CUSTOM STYLES ----------*/

.container{
    width: 100%;
    overflow-x: hidden;
}

.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-row-2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
    height: 100%;
}

.grid-row-3{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1rem;
    height: 100%;
}

.grid-col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

.grid-col-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    width: 100%;
}

.grid-justify-items-end{
    justify-items: end;
}

.grid-align-items-end{
    align-items: end;
}

.grid-align-center{
    align-self: center;
}

.grid-justify-end{
    justify-self: end;
}

.grid-align-end{
    align-self: end;
}

.grid-col-span-2{
    grid-column: span 2;
}


.h-100{
    height: 100vh
}

.border-left{
    padding-left: 1rem;
    border-left: 5px solid #000;
}

.border-top{
    padding-top: 1rem;
    border-top: 5px solid #000;
}

.border-white{
    border-color: rgb(191, 191, 191);
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-white{
    z-index: 2;
    color: #cfcfcf;
}

.text-primary{
    color: #141414;
}

.text-secondary{
    color: #8f8f8f;
}

.text-block{
    display: block;
}

.fw-900{
    font-weight: 900;
}

.fw-600{
    font-weight: 600;
}

.fw-400{
    font-weight: 400;
}

.fs-small{
    font-size: 0.9rem
}

.fs-md{
    font-size: 2rem;
}

.fs-large{
    font-size: 2.3rem;
    letter-spacing: 2px;
    line-height: 1rem;
}

.fs-larger{
    font-size: 5rem;
    letter-spacing: 2px;
    line-height: 4rem;
}

.fs-largest{
    font-size: 7rem;
    letter-spacing: 3px;
    line-height: 6.2rem;
}

.bg-img{
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-img::after{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 1;
    left: 0;
    width: 100%;
    background: rgba(2, 1, 1, 0.573);
}

.my-2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mt-2{
    margin-top: 2rem;
}
.mt-1{
    margin-top: 1rem;
}

.mb-2{
    margin-bottom: 2rem;
}
.mx-2{
    margin-inline: 2rem;
}

.mr-1{
    margin-right: 1rem;
}

.mr-2{
    margin-right: 2rem;
}

.ml-1{
    margin-left: 1rem;
}

.ml-2{
    margin-left: 2rem;
}

.mx-1{
    margin-inline: 1rem;
}

.m-2{
    margin: 2rem;
}

.m-1{
    margin: 1rem;
}

.p-2{
    padding: 2rem;
}
.p-1{
    padding: 1rem;
}

.p-5{
    padding: 5rem;
}

.px-2{
    padding-inline: 2rem;
}

.py-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.page-no{
    display: grid;
    grid-row: 3.5rem;
    grid-template-columns: 1fr 1fr;
    /* margin-top: 1rem; */
    height: 3.5rem;
    padding: 10px;
    align-items: center;
    font-size: 1rem;
    border: 1px solid red;
    /* height: 100%; */
}

.page-no .right{
    justify-self: end;
}

/* ---------- INTRO SECTION ----------*/

.intro .intro-right .grid-row-3{
    grid-template-rows: 20% 50% 30%;
    gap: 2rem;
}

/* ---------- TABLE OF CONTENT SECTION ----------*/
.table-of-content .table-of-content-left .grid-row-3{
    grid-template-rows: 1fr 1fr auto;
    height: 100%;
}

.table-of-content .table-of-content-right .grid-row-3{
    grid-template-rows: 1fr auto auto;
}

.table-of-content .table-of-content-right img{
   max-height: 180px;
}

/* ---------- PAGE 1 SECTION ----------*/
.page-1-left > .grid-row-3{
    grid-template-rows: 500px auto 3.5rem;
}
.page-1-right > .grid-row-3{
    grid-template-rows: 500px auto 3.5rem;
}


/* ---------- PAGE 2 SECTION ----------*/
.page-2 .page-2-top .grid-col-3{
    grid-template-columns: 5% 60% 35%;
    grid-template-columns: 0.5fr 2fr 1fr;
    gap: 2rem;
}
.page-2 .page-2-top img{
    /* grid-template-columns: 5% 70% 25%; */
    max-height: 500px;
}
.page-2 .page-2-bottom > .grid-row-3{
    grid-template-rows: auto auto 3.5rem;
}















@media screen and (max-width: 900px) {
    .h-100{
        height: auto;
    }

    
/* ---------- INTRO SECTION ----------*/

    .intro .grid-col-2{
        grid-template-columns: 1fr;
    }

    .intro .intro-left {
        height: 600px;
    }

    .intro .intro-right {
        margin-bottom: 6rem;
        /* border: 1px solid red; */
        height: auto;
    }
    .intro .intro-right .grid-row-3{
        grid-template-rows: 200px 500px 300px;
        gap: 2rem;
    }
    .intro .intro-right .grid-col-3{
        grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
        gap: 2rem;
        /* border: 1px solid red; */
    }

/* ---------- TABLE OF CONTENT SECTION ----------*/

    .table-of-content > .grid-col-2{
        grid-template-columns: 1fr;
    }

    .table-of-content .table-of-content-left {
        height: 600px;
    }

/* ---------- PAGE 1 SECTION ----------*/

    .page-1 > .grid-col-2{
        grid-template-columns: 1fr;
    }

}
