@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

:root{
    --color-primary: #141414;
    --color-secondary: #8f8f8f;
    --fs-sm: 0.9rem;
    --fs-md: 1.2rem;
    --fs-lg: 2rem;
    --fs-xl: 5rem;
    --fs-xxl: 7rem;
    --ff-1: 'Noto Sans', sans-serif;
    --ff-2: 'Dancing Script', cursive;
    --ff-3: 'Lora', serif;
}

body{
    scroll-behavior: smooth;
    transition: all 0.4s ease-in-out;
    width: 100%;
    overflow-x: hidden;
   
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--ff-3);
}

p{
    font-family: var(--ff-3);
    padding-bottom: 1rem;
}

section{
    height: 100vh;
    width: 100%;
    background: #fff;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.border-left{
    padding-left: 1rem;
    border-left: 5px solid #000;
}

.border-top{
    padding-top: 1rem;
    border-top: 5px solid #000;
}

.border-white{
    border-color: rgb(191, 191, 191);
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.text-white{
    z-index: 2;
    color: #cfcfcf;
}

.text-primary{
    color: #141414;
}

.text-secondary{
    color: #8f8f8f;
}

.text-block{
    display: block;
}


.border-left{
    padding-left: 1rem;
    border-left: 5px solid #000;
}

.border-right{
    padding-right: 1rem;
    border-right: 5px solid #000;
}

.border-top{
    padding-top: 1rem;
    border-top: 5px solid #000;
}

.border-white{
    border-color: rgb(191, 191, 191);
}

.my-2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mt-2{
    margin-top: 2rem;
}
.mt-1{
    margin-top: 1rem;
}

.mb-2{
    margin-bottom: 2rem;
}
.mx-2{
    margin-inline: 2rem;
}

.mr-1{
    margin-right: 1rem;
}

.mr-2{
    margin-right: 2rem;
}

.ml-1{
    margin-left: 1rem;
}

.ml-2{
    margin-left: 2rem;
}

.mx-1{
    margin-inline: 1rem;
}

.m-2{
    margin: 2rem;
}

.m-1{
    margin: 1rem;
}

.p-2{
    padding: 2rem;
}
.p-1{
    padding: 1rem;
}

.p-5{
    padding: 5rem;
}

.px-2{
    padding-inline: 2rem;
}

.py-1{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-2{
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pl-2{
    padding-left: 2rem;
}

.grid-col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-col-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.grid-justify-items-end{
    justify-items: end;
}

.grid-align-items-end{
    align-items: end;
}

.grid-align-center{
    align-self: center;
}

.grid-justify-end{
    justify-self: end;
}

.grid-align-end{
    align-self: end;
}

.bg-img{
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-img::after{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 1;
    left: 0;
    width: 100%;
    background: rgba(2, 1, 1, 0.573);
}

.box{
    width: 100%;
    height: 100%;
    background: #e4e4e4;
}


/*----- INTRO PAGE------*/
.intro{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.intro > div{
    z-index: 2;
}

.intro h1{
    font-family: var(--ff-2);
    color: #fff;
    font-size: var(--fs-xl);
    margin-bottom: 4rem;
}

/*---- PAGE 1------*/
.page-1{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.page-1-title{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-1-title h1{
    font-family: var(--ff-3);
    font-weight: 900;
    font-size: var(--fs-xl);
}

.page-1-title h4{
    font-family: var(--ff-3);
    font-weight: 500;
    font-size: var(--fs-md);
}

.page-1-image{
    height: 50%;
}

.page-1-image img{
    width: 100%;
    height: 100%;
    filter: grayscale(30%);
}

.page-1-subtext{
    gap: 1rem;
    height: 30%;
    align-items: center;
}

.page-1-subtext h4{
    font-family: var(--ff-3);
    font-weight: 900;
    line-height: 2rem;
}


/*---- PAGE 2------*/
.page-2{
    position: relative;
}

.page-2-title{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: right;
    
}

.page-2-title h1{
    font-size: var(--fs-xxl);
    line-height: 7rem;
    letter-spacing: 3px;
    font-family: var(--ff-3);
}

.page-2-title h1 span{
    font-size: var(--fs-lg);
    color: #333;
    margin-right: -30px;
    font-family: var(--ff-3);
}

.page-no{
    display: flex;
    justify-content: space-between;
    height: 3.5rem;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 2rem;
    right: 2rem;
    font-family: var(--ff-3);
}

/*---- PAGE 3------*/
.page-3{
    position: relative;
}

.page-3 > .grid-col-2{
    height: calc(100% - 3.5rem);
    padding: 3rem;
    gap: 1rem;
}
.page-3 .left{
    height: 100%;
}

.page-3 .left .page-3-item h3 {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.page-3 .left .page-3-item h3 .num {
    font-size: 2rem;
}

.page-3 .left .page-3-item p {
    padding-left: 2rem;

}

.page-3 .left .page-3-item .page-3-item-image{
    display: flex;
    padding: 1rem;
    justify-content: center;
}
.page-3 .left .page-3-item .page-3-item-image img{
   max-height: 150px;
   width: 100%;
   object-fit: cover;
}

.page-3 .right .page-3-item h3 {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
}

.page-3 .right .page-3-item h3 .num {
    font-size: 2rem;
}

.page-3 .right .page-3-item p {
    padding-left: 2rem;

}

.page-3 .right .page-3-item .page-3-item-image{
    display: flex;
    padding: 1rem;
    justify-content: center;
}
.page-3 .right .page-3-item .page-3-item-image img{
   max-height: 120px;
   width: 100%;
   object-fit: cover;
}

/*---PAGE 4 SECTION---*/
.page-4{
    position: relative;
}

.page-4 .content{
    height: calc(100% - 3.5rem);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-4 .content .grid-col-2{
    gap: 1rem;
    align-items: end;
}

.page-4-title{
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.page-4-title h1{
    font-size: var(--fs-xl);
    line-height: 4rem;
    font-weight: 800;
}

.page-4-title h2{
    font-size: var(--fs-lg);
    line-height: 2rem;
    font-weight: 500;
}

.page-4-title .upper{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.page-4-title .lower{
    display: flex;
    gap: 1rem;
    text-align: right;
}

/*---PAGE 5 SECTION---*/
.page-5{
    position: relative;
}

.page-5 .content{
    height: calc(100% - 3.5rem);
    padding: 2rem;
    display: flex;
    align-items: flex-end;
}

.page-5 .content .grid-col-3{
    gap: 1rem;
}


/*---PAGE 6 SECTION---*/
.page-6{
    position: relative;
}

.page-6 .content{
    height: calc(100% - 3.5rem);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-6-title{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.page-6-title h1{
    font-size: var(--fs-xl);
    font-family: var(--ff-3);
}
.page-6-title h1 span{
    font-size: var(--fs-lg);
}

.page-6-subtext{
    width: 50%;
}


/*---PAGE 7 SECTION---*/
.page-7{
    position: relative;
}

.page-7 .content{
    height: calc(100% - 3.5rem);
    padding: 2rem;
    padding-bottom: 3rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
}

.page-7 .content img{
   max-height: 200px;
   width: 100%;
   object-fit: cover;
}

.page-7-item1{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1.2fr 1fr;
}

.page-7-item2{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1.2fr;
}


/*---PAGE 8 SECTION---*/
.page-8{
    position: relative;
}

.page-8 .content{
    height: calc(100% - 3.5rem);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.page-8-image{
    height: 50%;
    width: 100%;
}

.page-8-subtext h2, .page-8-subtext h3{
    font-size: var(--fs-lg);
}

.page-8-subtext .grid-col-2{
    gap: 1.5rem;
}


/*---PAGE 9 SECTION---*/
.page-9{
    position: relative;
}

.page-9 .content{
    height: calc(100% - 3.5rem);
    padding: 2rem;
    
}

.page-9-upper{
    height: 50%;
    display: flex;
    justify-content: right;
}

.page-9-lower{
    height: 50%;
}
.page-9-lower .grid-col-2{
    gap: 1rem;
}

.page-9-lower img{
    max-height: 250px;
}

/*---PAGE 10 SECTION---*/
.page-10{
    position: relative;
}

.page-10 .content{
    height: calc(100% - 3.5rem);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-10-title{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.page-10-title h2{
    font-size: var(--fs-lg);
    font-weight: 500;
    text-align: right;
}

.page-10-title h1{
    font-size: var(--fs-xl);
}

.page-10 .content .grid-col-2{
    gap: 1rem;
}

.page-10-image{
    height: 300px;
}

.page-10-image img{
    height: 100%;
}

/*---PAGE 11 SECTION---*/
.page-11{
    position: relative;
}

.page-11 .content{
    height: calc(100% - 3.5rem);
    padding: 2rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-11-title{
    display: flex;
    align-items: center;
    height: calc(8%);
}

.page-11 .content .grid-col-3{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    height: calc(40%);
}

.page-11 .content .grid-col-2{
    gap: 1rem;
    height: calc(55%);
}

@media screen and (min-width: 1200px) {
 
    .page-3 > .grid-col-2{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
    .page-8-image{
        transform: translateX(50%);
        width: 100%;
        z-index: 3;
    }
    .page-9-upper > div{
        width: 50%;
    }

    .page-11 .grid-col-3 img{
        max-height: 250px;
    }
}

@media screen and (max-width: 896px) {
    .grid-col-2{
        display: grid;
        grid-template-columns: 1fr;
    }

    .intro h1{
        font-size: var(--fs-lg);
    }

    /*---PAGE 1 SECTION---*/
    .page-1{
        height: fit-content;
    }

    .page-1 .grid-col-3{
        grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
    }

     /*---PAGE 3 SECTION---*/
     .page-3{
        height: 100%;
     }

     .page-3 > .grid-col-2{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        height: fit-content;
        margin-bottom: 2rem;
    }

    /*---PAGE 3 SECTION---*/
     .page-5 .content .grid-col-3{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .page-5 .content .border-left{
        border-left: 0;
        padding-left: 0;
        border-top: 5px solid;
        padding-top: 10px;
    }

     /*---PAGE 6 SECTION---*/
    
     /*---PAGE 7 SECTION---*/
     .page-7{
        height: fit-content;
     }
     .page-7 .content{
        margin-bottom: 3rem;
     }
     /*---PAGE 8 SECTION---*/
     .page-8{
         height: fit-content;
     }
     .page-8 .page-8-subtext{
       margin-bottom: 2rem;
     }

     .page-8-image img{
        height: 400px;
     }
     .page-8 .page-8-subtext{
         margin-bottom: 3rem;
     }
     /*---PAGE 9 SECTION---*/
     .page-9{
         height: fit-content;
     }
     .page-9 .content{
         margin-bottom: 3rem;
     }

       /*---PAGE 10 SECTION---*/
       .page-10{
           height: fit-content;
       }
       .page-10 .content{
           margin-bottom: 3rem;
       }

       /*---PAGE 10 SECTION---*/
       .page-11{
           height: fit-content;
       }

       .page-11 .content{
        margin-bottom: 3rem;
        gap: 1rem;
        }
}

@media screen and (max-width: 398px) {
    .intro h1{
        font-size: var(--fs-md);
    }
    
      /*---PAGE 1 SECTION---*/
    .page-1 .border-left{
        border: 0;
    }

    /*---PAGE 4 SECTION---*/
    .page-4 .border-left{
        border: 0;
    }
    
}
