@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    scroll-behavior: smooth;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Playfair Display', serif;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p{
    color: #555;
    font-family: 'Mulish', sans-serif;
}


.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.h-100{
    height: 100vh
}

.border-left{
    padding-left: 1rem;
    border-left: 5px solid #000;
}

.border-white{
    border-color: rgb(191, 191, 191);
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-white{
    z-index: 2;
    color: #fff;
}

.fw-900{
    font-weight: 900;
}

.fw-600{
    font-weight: 600;
}

.fw-400{
    font-weight: 400;
}

.fs-small{
    font-size: 0.9rem
}

.fs-large{
    font-size: 2rem;
    letter-spacing: 2px;
}

.fs-larger{
    font-size: 5rem;
    letter-spacing: 2px;
}

.fs-largest{
    font-size: 7rem;
    letter-spacing: 3px;
}

.bg-img{
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-img::after{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 1;
    left: 0;
    width: 100%;
    background: rgba(2, 1, 1, 0.479);
}

.my-2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.my-1{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* ----------SECTION ONE ----------*/
.intro{
    padding-bottom: 1rem;
}


.intro .grid-row-3{
    display: grid;
    grid-template-rows: 20% 50% 20%;
    gap: 1rem;
    height: 100%;
}

.intro .grid-col-3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.grid-justify-end{
    justify-items: end;
}

.grid-align-end{
    align-items: end;
}

.grid-item{
    padding: 2rem;
    padding-bottom: 0.5rem;
}

.hero .grid-row-3{
    display: grid;
    grid-template-rows: 400px auto 5rem;
    gap: 1rem;
    height: 100%;
}


.hero .title{
    align-self: center;
}



.hero-text{
    height: 40%;
    display: flex;
    align-items: center;
}

.title{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    padding-inline:  4rem;
}

.title h1{
    line-height: 50px;
}


.title .title-lower{
    grid-column: span 2;
    /* justify-self: start; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.hero .grid-col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.hero-subtitle{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    gap: 1rem;
    color: #333;
    height: 50%;
    /* text-align: justify; */
}

.page-no{
    /* height: calc(10% - 1rem); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* align-items: end; */
    margin-top: 1rem;
    padding: 10px;
    border-top: 1px solid #000;
}

.page-no .right{
    justify-self: end;
}



.test{
    background: red;
}


.hero .grid-col-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}









.section-1 .grid-row-3{
    display: grid;
    grid-template-rows: 500px auto 5rem;
    gap: 1rem;
    height: 100%;
}


.section-2 .grid-row-4{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 5rem;
    gap: 1rem;
    height: 100%;
}

.section-2 .grid-col-21{
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    gap: 1rem;
}

.section-2 .grid-col-12{
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    gap: 1rem;
}

.section-2 img{
    max-height: 250px;
}






.hero-image{
    /* background-image: url('https://images.unsplash.com/photo-1529333166437-7750a6dd5a70?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-image::after{
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 1;
    left: 0;
    width: 100%;
    background: rgba(2, 1, 1, 0.479);
}

.hero-image-text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    height: 50%;
    align-items: end;
    
}

.h-40{
    height: 40%;
}

.hero-image-text div{
    /* margin-top: auto; */
    color: #fff;
    font-size: 0.9rem;
    z-index: 2;
}

.hero-image .page-no{
    color: #fff;
    z-index: 2;
}


.section-1 img{
    height: 190px;
    width: 100%;
}

.grid-21{
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    gap: 1rem;
}

.grid-12{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    gap: 1rem;
}

@media screen and (max-width: 900px) {
    .grid-item{
        grid-column: span 2;
    }
}